html {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body {
    margin 0px;
}

a {
  text-decoration: none;
  color: #183a1d;
}

a:hover {
  background-color: #f6c453;
}

h1 {
  font-size: 50px;
  text-align: center;
  background-color: #f6c453;
  color: #183a1d;
  padding: 20px 20px 20px 20px;
  margin: 0px;
}

ul li {
  list-style-image: url(../images/leaf_icon.jpg);
}

.container {
    width: 1000px;
    margin: 0 auto;
}